@charset "UTF-8";
*{
	background-color: lightgray;		
}

.main-div{
	width: 800px;
	height: 800px;
	margin-left: auto;
    margin-right: auto;    
}

.header-div{
	width: 790px;
	height: 100px;
	text-align:center;
	border-color:black;
	border-style:solid;
	display:inline-block;
	
}